<audio id="audio" src="<%= @lunches.shuffle.sample %>" controls="controls">
  Your browser does not support the audio element and therefore you cannot play.
</audio>

<div class="xRay"></div>
<div class="center-div"></div>
